<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Music Data</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
      <div id="vue-app">
        <app></app>
      </div>
    </body>
</html>